body {
    margin: 0;
}
.top-bar {
    height: 5vw;
    width: 100vw;
    background-color: #02E2E8;
    .title {
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        padding-left: 1.5vw;
        font-size: 4vw;
        color: #FFFFFF;
    }
    .logo {
        padding-left: 20vw;
        size: 1vw;
    }
}

.container {
    // grid
    height: calc(100vh - 5vw);
    background: #ffffff;
    width: 100vw;
}

// For desktop / screen size > 600px
@media only screen and (min-width: 600px) {
    .top-bar {
        display: flex;
        height: 4vw;
        width: 100vw;
        background-color: #02E2E8;
        .title {
            padding-top: 1vw;
            padding-bottom: 1vw;
            padding-left: 1.5vw;
            font-size: 2vw;
            color: #FFFFFF;
            }
        .logo {
            padding-top: 0.5vw;
            padding-left: 0.35vw;
            height: 3vw;
            width: 3vw;
            }
    }
    .container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
            .sloganLineOne {
                grid-row: 1/2;
                grid-column: 3/4;
                color: #464040;
                font-size: 3vw;
                justify-self: center;
                margin-top: 4vw;
            }
            .sloganLineTwo {
                grid-row: 1/2;
                grid-column: 3/4;
                color: #464040;
                font-size: 3vw;
                justify-self: center;
                margin-top: 7vw;
            }
            .textBox {
                grid-row: 2/3;
                grid-column: 3/4;
                justify-Self: center;
                    .box{
                        size: 3vw;
                        margin-top: 3vw;
                    }
            }
            .button {
                grid-row: 3/4;
                grid-column: 3/4;
                width: 6vw;
                height: 4vw;
                margin-top: 3vw;
                background-color: #FFC200;
                border-radius: 2vw;
                color: #FFFFFF;
                text-align: center;
                justify-self: center;
                font-size: 1vw;
                cursor: pointer;
            }
            .leftTriangle {
                margin:0;
                grid-row: 4;
                grid-column: 1;
                height: 5vw;
                width: 5vw;
            }
            .rightTriangle {
                margin:0;
                grid-row: 4;
                grid-column: 6;
                height: 5vw;
                width: 5vw;
            }
    }
}


